<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/mvc
  http://www.springframework.org/schema/mvc/spring-mvc.xsd
  http://www.springframework.org/schema/tx 
  http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
  http://www.springframework.org/schema/context
  http://www.springframework.org/schema/context/spring-context.xsd
  http://www.springframework.org/schema/aop   
  http://www.springframework.org/schema/aop/spring-aop-3.2.xsd"> 

    <!-- Bean definitions go here -->
    
   <!--     using setters -->
        
    <bean id="io" class="com.swcguild.serverinventory.ui.IOConsoleImpl"/>
    <bean id="dao" class="com.swcguild.serverinventory.dao.ServerDaoMapImpl"/>
    <bean id="controller" class="com.swcguild.serverinventory.ServerInventoryController">
    
    <!--Io is capital I little o because "setIo" and capital D in Dao because it's "setDao"  -->
        <property name="Io" ref="io"/>
        <property name="Dao" ref="dao"/>
    </bean>
        
    <!--using constructors    
    
     <bean id="io" class="com.swcguild.serverinventory.ui.IOConsoleImpl"/>
     <bean id="dao" class="com.swcguild.serverinventory.dao.ServerDaoMapImpl"/>
     <bean id="controller" class="com.swcguild.serverinventory.ServerInventoryController">
         <constructor-arg ref="io"/>
         <constructor-arg ref="dao"/>
     </bean>     
    -->
       


    <bean id="simpleTimerAspect" class="com.swcguild.serverinventory.SimpleTimerAspect"/>

    <aop:config> 
            
        <aop:aspect ref="simpleTimerAspect">
            <aop:around 
                method="timeMethod"
                pointcut="execution(* com.swcguild.serverinventory.dao.ServerDaoMapImpl.addServer(..))"/>               


        </aop:aspect>
            
            
            
    </aop:config>
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
    

        
       
   
   
   
   
   
</beans>